header.menu-transparent.bg-transparent .navbar{
    background:#F8A025!important;
    
}
.anima{
    color:#46C6F4;
}
.text-m{
    color:#EFEEF4!important;
}
.text-mm{
    color:#000!important;
}
.text_color{
    color:#4D4D4D;
}
.box_color{
    background-color:#EAEAEB!important;
}
.box_color .boxed-inverse{
    background-color:#EAEAEB!important;
}
 .work_bgcolor{
     background-color:#C0C0C0!important;
 }
 .no-paddings-y{
     padding-top:40px!important;
 }



 .work_hover > .work_color
{
    background-color: #26ace3!important;
}
.work_hover2{
    background-color: #F1F1F1!important;
}
.work_hover > .work_color > i{
    color:#fff!important;
}
.work_hover > .work_color > h3{
color:#fff!important;
}
.work_hover > .work_color > p {
        color: #fff !important;
    }
.work_hover > .work_color > a {
         color: #fff !important;
     }

 .work_hover:hover > .work_color:hover
{
    background-color: #EAEAEB!important;
}
.work_hover2{
    background-color: #F1F1F1!important;
}
.work_hover:hover > .work_color > i{
    color: #26ace3!important;
}
.work_hover:hover > .work_color > h3{
color:#000!important;
}
.work_hover:hover > .work_color > p {
        color: #8c8c8c !important;
    }
.work_hover:hover > .work_color > a {
         color: #000 !important;
     }

.box_hover:hover > .box_color:hover
{
    background-color: #23A9E6!important;
}
.box_hover2{
    background-color: #F1F1F1!important;
}
.box_hover:hover > .box_color > i{
    color:#fff!important;
}
.box_hover:hover > .box_color > h3{
color:#fff!important;
}
.box_hover:hover > .box_color > p {
        color: #fff !important;
    }
.box_hover:hover > .box_color > a {
         color: #fff !important;
     }
.section-bg-color{
    background-color:#fff!important;
}
.section-bg-colorr{
    background-color:#eeeeee!important;
}
@media  (max-width:450px){
    .circle-button{
         margin-bottom:15px;
    }
}
.block_grey{
    background:#eaeaeb!important;
}
.team_view{
    background:#26ACE3!important;
}
.team_view:hover {
     background:#26ACE3!important;
}
.container.content{
    padding-top:40px!important;
     /*padding-bottom:40px!important;*/
}
.img-box:before{
    opacity:0 !important;
}
@media (min-width: 320px) and (max-width: 767px) {
   .col-md-4, .col-md-2 {
        /*width: 25%!important;*/
        float: left!important;
    }
}

header.bg-transparent button{
    border-color:none!important;
}
.logo_heading{
    margin:15px 0px!important;
}
.navbar-brand img{
    margin-top:6px;
    
}
.box_color2{
    background:#23A9E6!important;
}
@media(min-width:320px) and (max-width:401px) {
    .logo_heading {
        font-size: 11px !important;
        font-weight:bold;
        margin:13px 5px!important;
    }
    .logo_resp {
        /*height:30px!important;*/
    }
}
.navbar-default .navbar-brand {
    color: #000000 !important;
}
.dropdown-menu > li > a:hover {
    color:#46C6F4!important;
}
/*.default{
    border-color:#fff!important;
}*/
/*header .btn-default {
    border-color:#fff!important;
}*/
.btn-search{
    padding:18px 15px 18px 15px;
    /*color:#000000!important;*/
}
.white.btn{
    background:#26ACE3!important;
}
.btnn:hover{
    background:#26ACE3!important;
}

.text-b{
    color:#000;
}
@media(min-width:993px) {
    header .btn-default {
        border-color: transparent!important;
    }
}
header .btn-search{
    background-color:#000000;
}

.list-nav{
    padding:60px;
}
footer .container{
    padding:15px 15px 15px 15px!important;
}
.box_color_blue{
    background-color: #1f9ccf !important;
}
 .section-bg-color .advs-box .box_color_blue .boxed-inverse
     {
    background-color: #1f9ccf !important;
}
 .box_color_blue:hover{
      background-color: #eaeaeb!important;
 }

 @media (min-width:992px)
   {
.header .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    padding: 0px 15px 19px 15px!important;
    padding-top: 23px!important;
   }
                     }
.slider_height .flexslider.no-navs {
    margin-bottom: 42px !important;
}
 .flexslider{
     margin: 42px 0 42px 0!important;
 }

.services_button{
    padding:0px!important;
}
 @media(min-width:320px) and (max-width:390px){
     .btn-sm{
         font-size:9px!important;
     }
 }

/**-- banner-bottom-slider --**/
/*.navbar-default .navbar-nav>li>a:hover{color:dodgerblue!important;}

#Customer {
    background: url(../images/bg-mem.jpg) repeat; width:100%;
}
#Customer{padding:60px 0 20px 0;}
#Customer h2{ text-align:center; }
.product-wp{background:#3c88af; padding:3em 3em;color:#fff; text-align:center }
.product-wp .view{background: rgba(73, 169, 218, 0.66) none repeat scroll 0% 0%;
color: rgb(255, 255, 255); padding:4px 10px; }
.banner-bottom-slider,.gallery,.services,.about,.testimonials,.history,.typo,.contact,.single{
	padding:2em 0 5em 0;
}
.banner-bottom-slider-left h3{
	font-size: 1.93em;
    color:#222;
	margin:0;
	line-height:1.5em;
}
.banner-bottom-slider-left h3 span{
	display: block;
    font-size: 1.5em;
    color: #5A9BDC;

    margin: .3em 0 0.5em;
    
}

.banner-bottom-slider-right1 ul{
	padding:1.5em .5em; 
	background:#3598DC;
}
.banner-bottom-slider-right1 ul li{
	display: inline-block;
    margin: 0;
    margin-left: 1.3em;
    float: none;
}
.banner-bottom-slider-right1 ul li a{
	font-size:1.1em;
	color:#fff;
	text-decoration:none;
}
.banner-bottom-slider-right1 ul li a:hover{
	color:#212121;
}
.banner-bottom-slider-text{top: 66px;
position: absolute;}
.banner-bottom-slider-right1{border: 1px solid #f3f0f0;
border-radius: 4px 4px 0 0;
box-shadow: 0px 1px 1px 1px #ccc;
margin: 0.7em;
}
.banner-bottom-slider-right {
    padding-right: 0;
}*/
.section-empty .flexslider.no-navs{
    margin-bottom:45px!important;
}
/*.niche-box-team:hover .content-box{
    margin-top:0px!important;
}*/
@media (max-width:992px) {
    /*.niche-box-team .content-box {
        height: 100px !important;
    }*/

    .niche-box-team .content-box {
        overflow: initial !important;
    }
}
.niche-box-team .content-box .social-group i {
    padding: 9px!important;
}
.niche-box-team:hover .hover_remove{
    margin-top:0px!important;
}
.title-base {
    margin-bottom: 0px !important;
}
    
.white.btn{
    background:#676a6b!important;
}
@media (max-width:992px) {
   header button.navbar-toggle {
    margin: 30px 6px 0 6px!important;
    }
}
.boxed-inverse{
    background-color: #fff;
}
.form-control{
    background:#fff!important;
}
.gallery{
    padding:0px!important;
}
.pic_lineone{
    
    margin:0px 15px;
    border-color:#26ACE3;
}
.pic_linetwo {
    margin: 0px 15px;
    border-color:#C0C0C0!important;
}
.grid-box.row {
    margin-top: 15px!important;
    margin-bottom: 40px!important;
}
.row{
    margin-bottom:20px!important;
}
.nbs-flexisel-nav-left{
    left:-38px!important;
}
#map {
  width: 100%;
  height: 600px;
  background-color: grey;
}
 footer .copy-row {
    padding: 0px!important; 
}   
       .btn{
           font-size:15px;
       }
   .footer_font{
       font-size:19px;
   }
@media (max-width:681px) {
    .footer_center {
        text-align: center;
    }
}
@media (min-width:682px)  {
 footer .content > div > .row > [class*="col-md"]{
      width:50%!important;
      float:left!important;
  } 
  #contact{
       width:50%!important;
      float:right!important;
  }
}
@media (min-width:768px){
    .footer-base .social-group {
        display: -webkit-inline-box;
    }
    }
@media (min-width:682px) and (max-width:767px){
    footer [class*="col-md"] {
    width: 50% !important;
    float: left !important;
}
}
@media (min-width:992px) {
    .btn-group .social-group .btn-group-icons {
    text-align:center;
}
}

@media (min-width:768px) and (max-width:979px) {
    .home_block{
        min-height:570px!important;
    }
}

 @media (min-width:980px) and (max-width:1023px) {
    .home_block{
        min-height:450px!important;
    }
  }
@media (min-width:1024px) and (max-width:1200px) {
    .home_block{
        min-height:440px!important;
    }
}
@media (min-width:768px) and (max-width:805px) {
    .home_block2{
        min-height:468px!important;
    }
}
@media (min-width:806px) and (max-width:910px) {
    .home_block2{
        min-height:465px!important;
    }
}
@media (min-width:911px) and (max-width:999px) {
    .home_block2{
        min-height:394px!important;
    }
}
@media (min-width:1000px)  {
    .home_block2{
        min-height:390px!important;
    }
}
/*.grid-list .grid-box {
    text-align: center !important;
}*/
.content{
    padding-bottom:1px!important;
}
@media (min-width:320px) {
   .button_web {
        padding: 7px 27px 6px 27px!important;
    }
}
.button_web {
     padding:15px 40px!important;
}
@media(min-width:768px) and (max-width:800px) {
    .web_block {
        min-height:514px;
    }
    .icon .boxed-inverse{
        padding:26px!important;
    }
     .software_block{
        min-height:660px;
    }
}
@media(min-width:801px) and (max-width:899px){
    .web_block {
        min-height:516px;
    }
    .software_block{
        min-height:640px;
    }
}
@media(min-width:900px) and (max-width:999px){
    .web_block {
        min-height:463px;
    }
    .software_block{
        min-height:580px;
    }
}
@media(min-width:1000px)  and (max-width:1199px) {
    .web_block {
        min-height: 436px;
    }
    .software_block{
        min-height:480px;
    }
}
@media(min-width:1200px) {
    .web_block {
        min-height: 410px;
    }
    .software_block{
        min-height:430px;
    }
}
@media (min-width: 992px) {
    [class*="col-md"] {
        padding-top: 5px;
        padding-bottom: 15px;
    }
}
  /*body .row-12 {
    height: 300px !important;
}*/
@media (max-width: 600px) {
    .col-md-6, .col-md-3:not(.widget), .col-md-9, footer .col-md-4 .col-md-6 {
    width: 100% !important;
}
    .maso-box > .maso-item, .grid-box > .grid-item {
    padding: 10px;
}
}

.webservice_block{
    padding:40px!important;
}
@media (max-width: 992px) {

    .menu-transparent .navbar-collapse {
        background-color:#C0C0C0!important;
    }
}
@media (max-width: 992px) {

    header.bg-transparent .navbar-default .navbar-nav > li.active > a:hover {
        color: #ffffff !important;
    }
}
@media (max-width: 992px) {
    /*header.bg-transparent .navbar-default .navbar-nav > li > a, .bg-transparent .navbar-default .navbar-nav .open .dropdown-menu > li > a :hover {
        color: #ffffff !important;
    }*/
    /*.navbar-default .navbar-nav > .active > a {
        color: #ffffff;
    }
 .navbar-default .navbar-nav > .active > a{
                                             color:#000000;
                                         }*/
}
.bg-transparent .navbar-default .navbar-nav .open .dropdown-menu > li:hover > a{
    color: #ffffff!important;
}
.menu-transparent:not(.scroll-css) li.dropdown:hover 
{
background: unset!important;
}
/*header.bg-transparent .navbar-default .navbar-nav > li > a:hover
{
 color: #ffffff!important;
}*/
@media(max-width:992px) {
    .navbar-nav {
        margin: 7.5px 0px;
    }

    .navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
    }

    .container > .navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-nav  a {
        padding-left: 15px!important;
    }
    
}

header .dropdown-menu > li > a {
    font-weight: 700!important;
    letter-spacing: .2px;
    font-size: 13.4px;
    color:#404040!important;
    text-transform: none;
}


header .dropdown-menu > li > a:hover {
    color: #ffffff!important;
   
}

/*header.scroll-css .navbar-nav > li.myactive > a:hover{
    color:#26ace3;
}*/
ul .myactive {
    background-color: #26ace3;
}

@media(min-width:992px) {
  ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
  color: #ffffff;
  background-color: #696969;
}
  
  .menu-transparent:not(.scroll-css) li.multi-level
{
background: #8c8c8c!important;
}
  .multi-level > .myactive{
       background: unset!important;
  }
}
.footer-parallax-container {
    margin-bottom: 0px!important;
}
.home-slider {
    height: 500px!important;
}
.home-banner{
    height:490px!important;
}
.anima2{
    color:#ffffff;
}
 /* responsive banners for all pages*/
@media(min-width:320px) and (max-width:460px)
{
    .home-slider{
        height: 96px!important;
       
    }
   .bg-cover{
        background-size:contain!important;
    }
}
@media(min-width:461px) and (max-width:992px){
    .home-slider{
        height: 100px !important;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .home-slider {
        height: 65px !important;
    }
}
@media  (min-width:1200px){
    .home-slider {
        height: 65px !important;
    }
}

@media(min-width:320px) and (max-width:460px) {
    .home-banner {
        height: 251px !important;
    }

    .bg-cover {
        background-size: contain !important;
    }
     #home_txt{
        font-size:18px!important;
    }
    
    .button_web {
    padding: 9px 37px !important;
}
   /* #contact_btn, #work_btn{
        display:none!important;
    }*/


}
@media(min-width:461px) and (max-width:767px){
   /* #contact_btn, #work_btn{
        display:none!important;
    }*/
    #home_txt{
        font-size:35px!important;
    }
    .home-banner {
        height: 400px !important;
       
    }
    .bg-cover {
        background-size: contain !important;
    }
}
@media(min-width:768px) and (max-width:800px) {

    #home_txt {
        font-size: 35px !important;
    }

    .home-banner {
        height: 480px !important;
    }

    .bg-cover {
        background-size: contain !important;
    }
}
@media(min-width:801px) and (max-width:962px) {

/*#home_txt {
        font-size: 24px !important;
    }*/

    .home-banner {
        height: 502px !important;
    }

    .bg-cover {
        background-size: contain !important;
    }
}
@media(min-width:963px) and (max-width:999px){
    .home-banner {
        height: 630px !important;
    }
}
@media(min-width:1000px) and (max-width:1090px){
     .home-banner {
        height: 460px !important;
    }
     /*#home_txt {
        font-size: 24px !important;
    }*/
    .bg-cover {
        background-size: cover !important;
    }
}
@media(min-width:1091px) and (max-width:1199px){
    .home-banner {
        /*height: 625px !important;*/
        height: 460px !important;
    }
     /*#home_txt {
        font-size: 24px !important;
    }*/
    .bg-cover {
        background-size: cover !important;
    }
}
@media(min-width:1200px)and (max-width:1290px){
/*#home_txt {
        font-size: 24px !important;
    }*/
    .bg-cover {
        background-size: cover !important;
    }
    .home-banner {
        /*height: 670px !important;*/
        height: 460px !important;
    }
}
@media(min-width:1375px){
    .bg-cover {
        background-size: cover !important;
    }
    .home-banner {
        /*height: 813px !important;*/
        height: 460px !important;
    }
}
@media(min-width:461px) and (max-width:613px){
    .bg-cover {
        background-size: contain !important;
    }
    .home-banner {
        height: 325px !important;
    }
}@media(min-width:1612px){
    .bg-cover {
        background-size: cover !important;
    }
    .home-banner {
        /*height: 922px !important;*/
        height: 460px !important;
    }
}

@media (max-width:992px)
{
    .navbar-nav .open {
        background-color: #26ACE3 !important;
    }
    .dropdown-menu {
        background-color: #C0C0C0 !important;
        color: #000;
    }
    .dropdown-menu .myactive {
        background-color: #C0C0C0 !important;
        color: #26ACE3 !important;
    }
    .dropdown-menu .myactive a {
        background-color: #C0C0C0 !important;
        color: #fff !important;
    }
/*contact_btn, work_btn{
    display:none!important;
}*/
}
header.bg-transparent .navbar-default .navbar-nav > li.myactive > a{
    color:#fff!important;
}
header.bg-transparent .navbar-default .navbar-nav > li.myactive > a:hover{
    color:#26ace3!important;
}
header.scroll-css .navbar-nav > li.myactive > a{
    color:#fff!important;
}
   header.bg-transparent .navbar-default .navbar-nav  .scroll-css > li.myactive > a{
    color:#fff!important;
}
@media(max-width:992px){
    .dropdown-menu .multi-level .fade-in{
        background-color:#EAEAEB;
    }
    .overlaybox-side .overlaybox-inner {
    width: calc(100% - 125px);
}   
}

.navbar-default .navbar-nav>li>a:hover{
    color:#26ace3!important;
}
@media (min-width:993px) {
    .dropdown-menu {
        background-color: #e7e7e7 !important;
    }
    .dropdown-menu .myactive a {
        color: #fff !important;
    }
    .text-xxl{
        font-size:81px!important;
    }
      .overlaybox-side .overlaybox-inner {
    width: calc(50% - 125px);
}  
}
.flexslider.nav-inner .flex-control-nav {
    bottom: auto!important;
}
header.scroll-css .navbar-nav > li.myactive > a:hover {
    color: #26ace3!important;
}
[class*="col-md"] {
        padding-bottom: 0px;
    }
.mfp-close{
    position: absolute;
    top: 40px;
    background-color:#ffffff!important;
    width: 19px;
    height: 31px;
    right:0px!important;
    line-height: 0px;
}
.form-ajax .success-box, .form-ajax .error-box {
    display:block;
}
.section-empty > .content{
    padding-top:1px;
}

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }

.flexslider .slides > li {
    display: block;
}
.adv-img-full-content .caption-bg {
    background-color: #fff;
}
div.adv-img p{
    color:#000;
}
 .adv-img p{
     font-size:13px;
 }
 .adv-img-full-content h2 {
    margin: 0px;
}
 .adv-img h2{
     font-size:13px;
 }
 .project{
     line-height:0;
 }
 .banner-bottom-slider-right1 {   
    box-shadow: none;
    
}
 .portfolio_letter{
     margin:3px;
 }
 .section-slide {
    background-color:#fff!important;
        }

.block-infos .block-data {
    background-color: none!important;
}
@media(min-width:320px){
    .page-title{
        margin-top:30px;
        padding-top:30px;
    }
}
@media(min-width:320px) and (max-width:720px){
    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
        
        top:47px!important;
    }
}
.adv-img p{
    line-height:20px!important;
}
@media (min-width:993px) {
    .home-banner .bg-cover {
        background-image:url('../images/restaurant-furniture-interiors-home.jpg');
        background-size: cover;
    }
}
@media (max-width:992px) {
    .home-banner .bg-cover {
        background-image:url('../images/restaurant-furniture-interiors-home.jpg');
    }
}
.banner-bottom-slider-right1{
     text-align:center;
}
#flexiselDemo1{
    display:block!important;
}
.flex-viewport{
    z-index:10;
}
@media (min-width:993px) {
    .about-bg-cover {
        background:url('http://localhost/ConstructionSurvey/images/About-us-new.jpg');
        height:500px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    
    }
}
@media (max-width:992px) {
    .about-bg-cover {
        background:url('http://localhost/ConstructionSurvey/images/About-us-new1.jpg');
        height:165px!important;
       margin-top:0px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (min-width:993px) {
    .software_banner {
        background-image:url('/images/SoftwareServices.jpg');
        height:500px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (max-width:992px) {
    .software_banner {
        background-image:url('/images/Software.jpg');
        height:300px!important;
       margin-top:0px!important;
    }
}
@media (min-width:993px) {
    .web_banner {
        background-image:url('/images/web-pageopt.jpg');
        height:500px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (max-width:992px) {
    .web_banner {
        background-image:url('/images/SoftwareServices1.jpg');
        height:300px!important;
       margin-top:0px!important;
    }
}
@media (min-width:993px) {
    .team_banner {
        background-image:url('/images/teamoptimise.jpg');
        height:500px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (max-width:992px) {
    .team_banner {
        background-image:url('/images/teamoptimise1.jpg');
        height:300px!important;
       margin-top:0px!important;
    }
}

@media (min-width:993px) {
    .work_banner {
        background-image:url('/images/Productsoptimise.jpg');
        height:500px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (max-width:992px) {
   .work_banner {
        background-image:url('/images/Productsoptimise1.jpg');
        height:300px!important;
       margin-top:0px!important;
    }
}
@media (min-width:993px) {
    .portfolio_banner {
        background-image:url('/images/Projectsopti.jpg');
        height:500px!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (max-width:992px) {
   .portfolio_banner {
        background-image:url('/images/Projectsopti1.jpg');
        height:300px!important;
       margin-top:0px!important;
    }
}
.linkedin-icon{
    margin-top:0px!important;
    margin-bottom:0px!important;
    max-width: 50px;
    width: 50px;
    box-sizing: content-box;
    height: 0;
    
}
.adv-img-full-content .caption{
padding:5%;
}
#nameerror, #phoneerror, #emailerror,#messageerror{
    color:red;
}
.maso-item > * {
    opacity: 1;
}
.maso-box > .maso-item { 
    visibility: visible!important;   
}
@media(max-width:767px) {
    .project_margin {
        margin-top: 46px!important;
    }
}
@media(min-width:768px) {
    .project_margin {
        margin-top: 30px !important;
    }
}
.home_hide{
    display:none!important;
}
@media (min-width:767px)  {
    #maclon {
        max-height: 634px!important;
    }
    }
@media (min-width:992px) {
    #maclon {
        max-height: 298px!important;
    }
}
@media (min-width:1024px)  {
    #maclon {
        max-height: 304px !important;
    }
}
@media (min-width:1200px) {
    #maclon {
        max-height: 369px !important;
    }
}